/*Playing around with maybe having a border at the top*/
/*.remark-slide-content {
  border-top: 80px solid #007935;
}

.remark-slide-content > h1 {
  margin-top: -95px;
  color: #fff;
}
*/
.title-slide {
  background-image: url(https://github.com/uo-datasci-specialization/data_sci_specialization/raw/master/xaringan_uo_theme/UOSignature-107-4C.png);
  background-position: 95% 95%;
  background-size: 200px;
  border: 20px solid #154733;;
}

.title-slide h1 {
  padding-top: 250px;
  font-size: 65px;
  line-height: 0.05;
  text-align: left;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

.title-slide h2 {
  font-size: 50px;
  text-align: left;
  padding-top: 0px;
  margin-top: 0px;
}

.title-slide h3 {
  font-size: 30px;
  color: #26272A;
  text-align: left;
  text-shadow: none;
  padding: 0px;
  margin: 0px;
  line-height: 1;
}

.title-slide .remark-slide-number {
  display: none;
}


h1, h2, h3 {
  font-weight: normal;
  color: #007935;
}

a {
  color: #3F97B5;
}
a:hover {
  color: #FFD200;
}

code {
  color: #007935;
  text-decoration: none;
  font-size: 90%;

}
.remark-code-line-highlighted     { background-color: rgba(254, 225, 35, .5); }

.inverse {
  background-color: #007935;
  /*text-shadow: 0 0 2px #E1E000;*/
}
/*.inverse h1, .inverse h2, .inverse h3 {
  color: #FEE123;
}*/